<h1 mat-dialog-title>Confirmation Required</h1>
<div mat-dialog-content>
  <span *ngIf="alternative">
    <p>We have sent a code for you to enter to your registered email addres. This should arrive in your inbox shortly. If it does not arrive in the next 2 minutes please check your Junk Mail or Spam folders.</p>
    <p>Once you receive this code please enter it below and select Confirm Code.</p>
    <p>Please note this code will only work one time.</p>
  </span>

  <span *ngIf="!alternative">
    <p>Scan the QR code or enter the secret key in Authenticator App</p>
    <img [src]="tfa.dataURL" alt="" class="img-thumbnail" style="display: block; margin: auto" />
    <p>Secret Key - {{tfa.tempSecret}}</p>
    <p>Auth Type - Time Based - OTP</p>
  </span>

  <form class="m-t-20" [formGroup]="myForm">
    <mat-form-field class="example-full-width">
      <input matInput name="authcode" type="text" placeholder="Enter the Auth Code" id="authcode" autocomplete="off" formControlName="authcode" />
    </mat-form-field>
  </form>
  <p class="text-danger" style="text-align: center" *ngIf="errorMessage">{{errorMessage}}</p>
</div>
<div mat-dialog-actions fxLayout="column" fxLayoutAlign="space-between center">
  <button type="button" mat-raised-button color="primary" style="width: 100%; margin: 4px 0" (click)="enableTFA()">Confirm Code</button>
  <button type="button" mat-raised-button color="warn" style="width: 100%; margin: 4px 0" (click)="onNoClick()">Cancel</button>
  <button type="button" mat-raised-button color="accent" style="width: 100%; margin: 4px 0" (click)="alternativeFA()">Unable to use TOTP App</button>
</div>
