<mat-card>
  <mat-card-content>
    <div id="content">
      <div id="main-content">
        <mat-tab-group id="leftTabGroup">
          <mat-tab *ngFor="let fl of fulllist" [label]="fl.displayname">
            <app-Occupations [displayName]="fl.displayname" [inputoccupations]="fl.list" (updatedmethods)="updatelists($event)"> </app-Occupations>
          </mat-tab>
          <mat-tab label="Training Resources">
            <app-admin-trainingresources></app-admin-trainingresources>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </mat-card-content>
</mat-card>
