<mat-card>
  <mat-card-content>
    <div fxLayout="row wrap">
      <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" style="padding: 20px">
        <form class="m-t-20" [formGroup]="myForm">
          <mat-form-field class="example-full-width">
            <input autocomplete="off" matInput placeholder="Lab" type="text" formControlName="lab" />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input autocomplete="off" matInput placeholder="Organisation" type="text" formControlName="organisation" />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input autocomplete="off" matInput placeholder="NPEX Code" type="text" formControlName="npexCode" />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input autocomplete="off" matInput placeholder="Named Contact" type="text" formControlName="namedContact" />
          </mat-form-field>

          <mat-card-actions>
            <button mat-raised-button color="primary" type="button" (click)="registerNew()" *ngIf="!editForm" [disabled]="!myForm.valid">Submit</button>
            <button mat-raised-button color="warn" type="button" (click)="cancel()" *ngIf="!editForm">Cancel</button>
            <button mat-raised-button color="primary" type="button" (click)="updateExisting()" *ngIf="editForm" [disabled]="!myForm.valid">Update</button>
            <button mat-raised-button color="warn" type="button" (click)="exitEditMode()" *ngIf="editForm">Exit edit mode</button>
          </mat-card-actions>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>
