<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5"><img src="assets/images/login.png" alt="user" class="profile-pic" /></button>
<mat-menu #profile="matMenu" class="mymegamenu">
  <button (click)="navigateTo('settings')" mat-menu-item><mat-icon>settings</mat-icon> My Settings</button>
  <button (click)="navigateTo('problems')" mat-menu-item><mat-icon>announcement</mat-icon> Report a Problem</button>
  <button (click)="navigateTo('logout')" mat-menu-item><mat-icon>exit_to_app</mat-icon> Sign Out</button>
</mat-menu>
