.mat-column-functions {
  flex: 0 0 120px !important;
  padding-right: 15px;
  justify-content: center;
}

.mat-column-nhs_number {
  flex: 0 0 140px !important;
  padding-right: 15px;
  justify-content: left;
}

.mat-column-name {
  flex: 0 0 140px !important;
  padding-right: 15px;
  justify-content: left;
}

.mat-column-contact {
  flex: 0 0 140px !important;
  padding-right: 10px;
  justify-content: left;
}

.mat-column-current {
  flex: 0 0 120px !important;
  padding-right: 15px;
  justify-content: center;
}

.mat-column-compliance {
  flex: 0 0 120px !important;
  padding-right: 15px;
  justify-content: center;
}
