.mat-radio-button {
  margin: 0 12px;
}
.example-radio-group {
  display: flex;
  flex-direction: column;
  /* display: inline-grid; */
  /* display: grid; */
  margin: 15px 0;
}

.spacer {
  padding: 10px 40px;
}
